@font-face {
  font-family: pokeFont;
  src: url(Kanit-Regular.ttf);
}


.App {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: pokeFont;
  font-size: 25px;
}
.pokeH1 {
  margin-top: 0px;
  padding-bottom: 50px;
}
body {
  margin: 0%;
  padding: 0%;
}

.Title {
  background-color: #5f739e;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: White;
  align-items: center;
}
.Title input {
  width: 500px;
  height: 40px;
  margin-bottom: 25px;
  border: 1px solid #5f739e;
  border-radius: 10px;
  font-size: 19px;
}
.Title button {
  width: 200px;
  height: 70px;
  border: 1px solid #5f739e;
  border-radius: 10px;
  font-size: 19px;
  color: white;
  background-color: #006cbf;
}
.displayPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.displayPokemon h3, h4 {
  margin: 0;
}
.displayPokemon img {
  width: 200px;
  height: 200px;
}

